body{
  text-align: center;
  font-family: Verdana;
}
h1{
  font-family: verdana;
  font-size: 50px;
  font-weight: normal;
}
h2{
  font-family: Verdana;
  font-size: 42px;
  font-weight: 300;
  color: white;
}
h3{
  font-family: Verdana;
  font-size: 21px;
  color: Gray;
}
p{
  color: gray;
  text-align: right;
  font-size: 24px;
}
